
.loginSection{
    background-color: #adb1a0;
    min-height: 100vh;
    padding-top: 85px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
    /* margin-top: 20vh; */
    padding: 65px;
    border: 2px solid rgb(18, 16, 27);
    background-color: white;
    /* color: white; */
    border-radius: 10px;
    width: 60%;
    height: 35vh;
}

.loginHeader{
    margin-left: 25vw;
    color :#000a01
}

/* .label{
    margin: 10px;
} */

/*.inputDetails{
    margin: 10px;

    margin-left: -15%;
}*/
.loginIput{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
.loginBtn{
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    background-color: #4169e1;
    color: #ffffff;
    margin: 0 auto;
    /* width: 30%; */
}


@media (min-width:1025px){
  
    .form{
        width: 35%;
    }
    .loginHeader{
        margin-left: 30vw;
    }
}



