

section.expenseFOrmCover {
    background-color: rgb(239 239 239);
    min-height: 100vh;
    padding-top: 60px;
}

.expenseTitle{
    margin-left: 100px;
}

.expenseForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
    margin: 5px auto;
    border: 1px solid black;
    width: 70vw;
    padding: 30px;
    height: 38vh;
    /* border-radius: 5px; */
    background-color: rgb(169 187 233);
    /* flex-wrap:wrap */
    justify-content:center
}

.optionSection{
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}

.descHeader{
    margin-left: 10px;
}
.expenseInput{ 
    padding: 5px;
    margin: 0 auto; 
    border-radius: 5px;
}

.expenseLabel{
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btnExpenseJournal-LogOut {
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-evenly;
    margin: 0px auto;
    padding-left: 170px;
    padding-top: 30px;
}

.btnFooter {
    padding: 5px;
    width: 150px;
    border-radius: 5px;
}

.submitInput{
    width: 170px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 3px;
    color: white;
    background-color: blue;
}

/* @media (min-width:480px){
    .btnExpenseJournal-LogOut{
        padding-left: 150px;
        padding-top: 30px;
    }
} */

@media (min-width: 514px){
.btnExpenseJournal-LogOut {
    padding-left: 185px;
    padding-left: 200px;
    /* padding-top: 30px; */
}
}

@media (min-width: 576px){
.btnExpenseJournal-LogOut {
    padding-left: 215px;
    /* padding-top: 30px; */
}
}

@media (min-width: 570px){
.btnExpenseJournal-LogOut {
    padding-left: 220px;
    /* padding-top: 30px; */
    }
}

@media (min-width:630px){
    .btnExpenseJournal-LogOut {
        padding-left: 250px;
    }
}

@media (min-width: 693px){
    .btnExpenseJournal-LogOut {
        padding-left: 297px;
    }
}

@media (min-width: 741px){
    .btnExpenseJournal-LogOut {
        padding-left: 295px;
    }
}

@media (min-width: 787px){
    .btnExpenseJournal-LogOut {
        padding-left: 320px;
    }
}

@media (min-width: 850px){
    .btnExpenseJournal-LogOut {
        padding-left: 370px;
    }
}

@media (min-width: 890px){
    .btnExpenseJournal-LogOut {
        padding-left: 380px;
    }
}

@media (min-width: 936px){
    .btnExpenseJournal-LogOut {
        padding-left: 400px;
    }
}

@media (min-width: 990px){
    .btnExpenseJournal-LogOut {
        padding-left: 420px;
    }
}

@media (min-width: 1010px){
    .btnExpenseJournal-LogOut {
        padding-left: 438px;
    }
}
@media (min-width: 1050px){
    .btnExpenseJournal-LogOut {
        padding-left: 458px;
    }
}

@media (min-width: 1100px){
    .btnExpenseJournal-LogOut {
        padding-left: 488px;
    }    
}

@media (min-width: 1170px){
    .btnExpenseJournal-LogOut {
        padding-left: 518px;
    }
}

@media (min-width: 1230px){
    .btnExpenseJournal-LogOut {
        padding-left: 550px;
    }
}


@media (min-width: 1517px){
    .btnExpenseJournal-LogOut {
        padding-left: 680px;
    }
    .expenseForm{
        width: 50vw;
        height: 45vh;
    }
    .expenseTitle{
        /* position: fixed; */
        /* top: 10px; */
        margin-left: 350px;
    }

    .btnExpenseJournal-LogOut{
        gap: 80px;
    }

}
















